.gitattributes text eol=lf
.gitignore text eol=lf

.eslintignore text eol=lf

# Override default for linguist-documentation.
demo/* linguist-documentation=false

# Ethereum
*.sol text linguist-language=Solidity eol=lf
.soliumignore text eol=lf
.soliumrc.json text eol=lf

# Docker
Dockerfile text eol=lf
*.Dockerfile text eol=lf
.dockerignore text eol=lf

# HTML/JS
*.html text eol=lf
*.js text eol=lf
*.css text eol=lf
yarn.lock text eol=lf

# Python
*.py text eol=lf

# Miscellaneous
*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.tsv text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
